<div class="mx-auto md:w-2/3 w-full p-6 bg-gray-200 rounded-lg shadow-md">
  <% if notice.present? %>
    <div class="text-center">
      <p class="py-2 px-3 bg-green-500 text-white font-medium rounded-lg mb-5 text-center" id="notice"><%= notice %></p>
    </div>
  <% end %>
  <header class="text-center mb-4">
    <h2 class="font-bold text-4xl">Sign up</h2>
  </header><br /><br />

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: "block text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md" %>
  </div><br />

  <div class="field">
    <%= f.label :password, class: "block text-gray-700" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full border-gray-300 shadow-sm sm:text-sm rounded-md" %>
  </div><br />

  <div class="field">
    <%= f.label :password_confirmation, class: "block text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full border-gray-300 rounded-md"  %>
  </div><br /><br /><br />

   <div class="flex items-center justify-center space-x-4">
     <%= f.submit "Sign up", class: "py-2 px-4 border border-transparent rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>

  <%= link_to "Log in", new_session_path(resource_name), class: "py-2 px-4 border border-transparent rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
</div>
<% end %>
<%= render "devise/shared/links" %>
</div>
