<div id="<%= dom_id restaurant %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 text-gray-700">Name:</strong>
    <span class="block p-3 bg-white rounded-md shadow-sm"><%= restaurant.name %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-gray-700">Address:</strong>
    <span class="block p-3 bg-white rounded-md shadow-sm"><%= restaurant.address %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-grey-700">City:</strong>
    <span class="block p-3 bg-white rounded-md shadow-sm"><%= restaurant.city %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-grey-700">State:</strong>
   <span class="block p-3 bg-white rounded-md shadow-sm"><%= restaurant.state %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-grey-700">Zip:</strong>
   <span class="block p-3 bg-white rounded-md shadow-sm"> <%= restaurant.zip %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-grey-700">Will split votes:</strong>
    <%= restaurant.will_split_votes %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-gey-700">Wont split votes:</strong>
    <%= restaurant.wont_split_votes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this restaurant", restaurant, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium hover:bg-blue-700" %>
    <%= link_to "Edit this restaurant", edit_restaurant_path(restaurant), class: "rounded-lg py-3 ml-2 px-5 bg-blue-600 text-white inline-block font-medium hover:bg-blue-700" %>
    <hr class="mt-6">
  <% end %>
</div>
