<div class="mx-auto md:w-2/3 w-full p-6 bg-gray-200 rounded-lg shadow-md">
  
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-500 text-white font-medium rounded-lg mb-5 text-center" id="notice"><%= notice %></p>
  <% end %>

  <section class="project-description">
    <h2 class="text-center font-bold text-3xl mb-4">Show Restaurant Details</h2>
  </section>

  <%= render @restaurant %>

  <div class="flex items-center justify-center space-x-4 mt-4">
    <% if user_signed_in? %>
      <% if !@restaurant.voted_by?(current_user) %>
        <%= button_to 'Vote Will Split', votes_path(vote: { restaurant_id: @restaurant.id, split: true }), method: :post, remote: true, form_class: "inline  bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg" %>
        <%= button_to "Vote Won't Split", votes_path(vote: { restaurant_id: @restaurant.id, split: false }), method: :post, remote: true, form_class: "inline  bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg" %>
      <% else %>
        <p class = "text-center, text-green-500">You have already voted for this restaurant.</p>
      <% end %>
    <% else %>
      <%= link_to 'Sign in to Vote', new_user_session_path, class: "text-blue-600 hover:text-blue-700 underline" %>
    <% end %>
  </div>

  <div class="flex items-center justify-center space-x-4 mt-4">
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "rounded-lg py-2 px-4 bg-blue-600 text-white font-medium hover:bg-blue-700" %>
    <%= link_to "Back to restaurants", restaurants_path, class: "rounded-lg py-2 px-4 bg-blue-600 text-white font-medium hover:bg-blue-700" %>
  </div>

<div class="comments-section mt-8">
  <h3 class="text-xl font-semibold mb-4">Comments:</h3>

  <%# Render the form for a new comment %>
  <%= render 'comments/form', comment: Comment.new, restaurant: @restaurant %><br />
  <h3 class= "text-xl font-semibold mb-4">Comment List:</h3>
  <% @restaurant.comments.order(created_at: :desc).each do |comment| %>
    <div class="comment-history border-t border-gray-300 pt-4">
      <p><strong><%= comment.user.email %>:</strong> <%= comment.content %></p>
      <p class="text-gray-600 text-sm">Commented on: <%= comment.created_at.strftime("%m-%d-%Y") %></p>
    </div>
  <% end %>
</div>
</div>

